<!DOCTYPE html>
<html>
<head>
  <%- include ('../header')%>
  <link rel="stylesheet" href="public/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%- include ('../topMenu')%>
    <!-- Left side column. contains the logo and sidebar -->
    <%- include ('../sideMenu')%>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          상점
          <small>상점관리</small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- 검색조건 -->
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="form-horizontal">
              <div class="box-body">

                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-1 control-label">상호</label>

                  <div class="col-sm-2">
                    <input type="email" class="form-control" id="inputEmail3">
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-sm btn-info">검색</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">상점 리스트</h3>
            </div>
            <div class="box-body">
              <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal">상점 등록</button>
              <div class="pull-right">
                <button type="button" class="btn btn-sm btn-info">PDF</button>
                <button type="button" class="btn btn-sm btn-info">Excel</button>
              </div>
              <table id="dataTable" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>상호</th>
                    <th>대표</th>
                    <th>주소</th>
                    <th>연락처</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- ./wrapper -->
  <%- include ('../footer')%>
  <!-- DataTables -->
  <script src="public/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="public/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

  <script src="routes/sms/storeMain.js"></script>
  <%- include ('modal/regStore')%>
</body>
</html>
